.contact{
    height: 100vh;
    background: linear-gradient(170deg, rgba(250,137,123,1) 0%, rgba(255,221,148,1) 46%)
}

.contact_container{
    margin: auto 100px;
    padding: 70px 0 0 0;
}

.contact_title{
    margin: 0;
}

.contact_subtitle{
    font-size: xx-large;
    font-weight: lighter;
    text-align: center;
}

.contact_subcontainer{
    display: flex;
    justify-content: center;
    padding: 40px;
    color: rgb(70, 70, 70);
}

.contact_innercontainer{
    width: 200px;
    text-align: center;
    margin: 0;
}

.contact_iconContainer{
    margin: 0;
    border: 2px solid rgb(70, 70, 70);
}

.contact_icon{
    margin: 10px;
    padding: 20px;
    font-size: 50px;
    border-radius: 50%;
    transition: ease-out 200ms;
}
.contact_icon:hover{
    color: blanchedalmond;
    background-color: rgb(70, 70, 70);
    transform: translateY(-10px);
}

.contact_innertitle{
    font-size: larger;
}

.contact_innerdescription span:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px ;
    cursor: pointer;
}


.contact_footer{
    margin: 50px 0;
    font-family:  'Shrikhand', cursive;
    font-size: larger;
    font-weight: lighter;
    text-align: center;
}



@media only screen and (max-width: 1180px) {
    .contact{
        height: fit-content;
    }
    
    .contact_container{
        margin: auto 30px;
        padding-top: 70px;
    }

    .contact_subtitle{
        margin: 0;
        font-size: xx-large;
        font-weight: lighter;
        text-align: center;
    }

    .contact_subcontainer{
        display: flex;
        flex-wrap: wrap;
    }

    .contact_icon{
        font-size: 30px
    }
}

@media only screen and (max-width: 650px) {
    .contact{
        height: fit-content;
    }
    
    .contact_container{
        margin: auto 30px;
        padding-top: 70px;
    }

    .contact_subcontainer{
        display: flex;
        justify-content: center;
        padding: 0;
        color: rgb(70, 70, 70);
    }

    .contact_innercontainer{
        width: 200px;
        text-align: center;
        margin: 10px auto;
    }
}