.header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header_container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto 30px auto;
    padding: 30px 0 0 0;
    width: 90%;
}

.header_menu{
    width: 40%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header_option{
    font-size: larger;
    font-family: 'Marcellus', serif;
    font-weight: bolder;
    cursor: pointer;
}

.header_option:hover{
    color: rgb(171, 95, 95);
    text-decoration: underline;
    text-decoration-thickness: 3px
}


.header_iconContainer{
    display: none;
    justify-content: flex-end;
    font-size: xx-large;
}

.header_icon{
    margin: 15px;
    cursor: pointer;
}


@media only screen and (max-width: 1120px) {
    .header_container{
        display: none
    } 
    .header_iconContainer{
        display: flex
    }   
}