.projects {
  height: fit-content;
  background-color: blanchedalmond;
}

.projects_container {
  margin: auto 100px;
  padding-top: 70px;
}

.projects_title {
  margin: 0;
}

.projects_subcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 60px 70px 60px;
  text-align: center;
}

.projects_projectContainer {
  display: flex;
  justify-content: center;
  margin: 20px;
  transition: 200ms;
}
.projects_projectContainer:hover {
  transform: translate(-10px, -10px);
}

.projects_flipContainer {
  display: inline-flex;
  justify-content: center;
  position: relative;
  width: 100%;
  border: 5px double black;
  border-radius: 2px;
  transform-style: preserve-3d;
  transition: 200ms;
}
.projects_flipContainer:hover {
  color: black;
  /* color: #b78246; */
  background-color: wheat;
  border: 5px double black;
  box-shadow: 15px 15px 15px 2px rgb(0, 0, 0, 0.9);
}

.projects_frontContainer {
  height: fit-content;
  backface-visibility: hidden;
}

.projects_backContainer {
  color: #b78246;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.projects_innercontainer1 {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.projects_image1 {
  margin: auto;
  height: 170px;
  animation: image1 16s infinite 3s;
}
.projects_image2 {
  margin: auto;
  height: 170px;
  position: absolute;
  animation: image2 16s infinite 3s;
}
.projects_image3 {
  display: block;
  margin: auto;
  height: 170px;
  position: absolute;
  animation: image3 16s infinite 3s;
}

.projects_innertitle {
  width: auto;
}

.projects_listContainer {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0px;
}

.projects_list {
  margin: 0 20px;
  padding: 5px;
  border: 2px solid #b78246;
  border-radius: 5px;
}

.projects_linkContainer {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.projects_link {
  margin: 0 12px;
}

.projects_button {
  margin: 10px 0;
  padding: 5px 10px;
  font-size: medium;
  box-shadow: 3px 6px;
  transition: transform 100ms, box-shadow 100ms;
}
.projects_button:hover {
  transform: translate(6px, 6px);
  box-shadow: none;
}

@keyframes image1 {
  33%,
  66% {
    opacity: 0;
  }
  0%,
  100% {
    opacity: 1;
  }
}
@keyframes image2 {
  0%,
  66%,
  100% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
}
@keyframes image3 {
  0%,
  33%,
  100% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
}

.projects_flip {
  border: 5px double black;
  background-color: wheat;
  transform: rotateY(180deg);
}
.projects_flipShadow:hover {
  box-shadow: -15px 15px 15px 2px rgb(0, 0, 0, 0.9);
}

@media only screen and (max-width: 1275px) {
  .projects {
    height: fit-content;
  }

  .projects_container {
    margin: auto 30px;
    padding-top: 70px;
  }

  .projects_subcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    text-align: center;
    padding: 0;
  }

  .projects_credentialscontainer {
    width: 100%;
    margin: auto 100px;
  }
}

@media only screen and (max-width: 980px) {
  .projects {
    height: fit-content;
  }

  .projects_container {
    margin: auto 30px;
    padding-top: 70px;
  }

  .projects_subcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    padding: 5px;
    text-align: center;
  }

  .projects_credentialscontainer {
    width: 100%;
    margin: auto 100px;
  }

  .projects_projectContainer {
    margin: 10px;
  }
}

@media only screen and (max-width: 890px) {
  .projects_subcontainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    text-align: center;
  }

  .projects_projectContainer {
    margin: auto 100px;
  }
}

@media only screen and (max-width: 660px) {
  .projects_subcontainer {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    text-align: center;
  }

  .projects_credentials {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    font-size: medium;
  }

  .projects_projectContainer {
    margin: auto 20px;
  }
}
