.sidebar {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: 300ms;
  overflow: hidden;
  background-color: rgb(255, 200, 100);
}

.sidebar_iconContainer {
  display: flex;
  justify-content: flex-end;
  margin: 14px 18px;
  font-size: xx-large;
}

.sidebar_icon {
  cursor: pointer;
}

.sidebar_menu {
  margin: 30px auto;
  padding: 0;
  text-align: center;
  list-style: none;
}

.sidebar_option {
  margin: 55px auto;
  width: fit-content;
  font-size: xx-large;
  cursor: pointer;
}
