.skills {
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(213, 234, 245, 1) 0%,
    rgba(245, 221, 218, 1) 100%
  );
}

.skills_container {
  margin: auto 100px;
  padding: 70px 0;
}

.skills_title {
  margin: 0;
}

.skills_subcontainer {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0;
}

.skills_innercontainer {
  display: flex;
  align-items: center;
  margin: 20px 20px;
  padding: 10px 20px;
  border: 2px solid rgb(0, 0, 55);
  border-radius: 50px;
  transition: ease-out 150ms;
  cursor: pointer;
}

.skills_innercontainer > p {
  margin: 10px;
}

.skills_innercontainer:hover {
  transform: translate(-8px, -8px);
}

.skills_icon {
  font-size: 50px;
}

.skills_html:hover {
  color: rgb(221, 75, 37);
  border: 2px solid rgb(221, 75, 37);
  box-shadow: 5px 8px 1px rgb(221, 75, 37);
}
.skills_css:hover {
  color: rgb(38, 77, 228);
  border: 2px solid rgb(38, 77, 228);
  box-shadow: 5px 8px 1px rgb(38, 77, 228);
}
.skills_js:hover {
  color: rgb(239, 216, 29);
  background-color: black;
  border: 2px solid black;
  box-shadow: 5px 8px 1px rgb(239, 216, 29);
}
.skills_ts:hover {
  color: rgb(0, 118, 198);
  border: 2px solid rgb(0, 118, 198);
  box-shadow: 5px 8px 1px rgb(0, 118, 198);
}
.skills_bootstrap:hover {
  color: rgb(132, 17, 246);
  border: 2px solid rgb(132, 17, 246);
  box-shadow: 5px 8px 1px rgb(132, 17, 246);
}
.skills_react:hover {
  color: rgb(95, 215, 244);
  background-color: black;
  border: 2px solid black;
  box-shadow: 5px 8px 1px rgb(95, 215, 244);
}
.skills_node:hover {
  color: rgb(90, 148, 85);
  background-color: rgb(51, 51, 51);
  border: 2px solid rgb(51, 51, 51);
  box-shadow: 5px 8px 1px rgb(90, 148, 85);
}
.skills_next:hover {
  color: black;
  background-color: rgb(247, 247, 247);
  border: 2px solid black;
  box-shadow: 5px 8px 1px black;
}
.skills_native:hover {
  color: rgb(95, 215, 244);
  background-color: black;
  border: 2px solid black;
  box-shadow: 5px 8px 1px rgb(95, 215, 244);
}
.skills_mysql:hover {
  color: rgb(14, 116, 140);
  background-color: rgb(234, 140, 16);
  border: 2px solid rgb(14, 116, 140);
  box-shadow: 5px 8px 1px rgb(14, 116, 140);
}
.skills_mongo:hover {
  color: rgb(0, 237, 100);
  background-color: rgb(0, 30, 43);
  border: 2px solid rgb(0, 30, 43);
  box-shadow: 5px 8px 1px rgb(0, 237, 100);
}
.skills_git:hover {
  color: rgb(232, 77, 49);
  border: 2px solid rgb(232, 77, 49);
  box-shadow: 5px 8px 1px rgb(232, 77, 49);
}
.skills_npm:hover {
  color: rgb(197, 54, 53);
  border: 2px solid rgb(197, 54, 53);
  box-shadow: 5px 8px 1px rgb(197, 54, 53);
}
.skills_yarn:hover {
  color: rgb(43, 138, 181);
  border: 2px solid rgb(43, 138, 181);
  box-shadow: 5px 8px 1px rgb(43, 138, 181);
}
.skills_aws:hover {
  color: rgb(255, 152, 0);
  background-color: rgb(34, 45, 60);
  border: 2px solid rgb(34, 45, 60);
  box-shadow: 5px 8px 1px rgb(255, 152, 0);
}

.skills_next .skills_icon {
  width: 20px;
  height: 20px;
  padding: 10px;
  color: white;
  background-color: black;
  border: 2.5px solid white;
  border-radius: 50%;
}

.skills_next:hover .skills_icon {
  transition: ease-out 150ms;
  width: 20px;
  height: 20px;
  padding: 10px;
  color: black;
  background-color: white;
  border: 2.5px solid black;
  border-radius: 50%;
}

@media only screen and (max-width: 1180px) {
  .skills {
    height: fit-content;
  }

  .skills_container {
    margin: auto 30px;
    padding-top: 70px;
  }

  .skills_innercontainer {
    display: flex;
    align-items: center;
    margin: 10px 10px;
    padding: 5px 10px;
    border: 2px solid rgb(0, 0, 55);
    border-radius: 50px;
    transition: ease-out 100ms;
    cursor: pointer;
  }

  .skills_icon {
    font-size: 30px;
  }
}
